.container{
    display: grid;
    grid-template-areas:
    "title title"
    "name github";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    text-align: center;
}

.title{
    grid-area: title;
    font-size: 35px;
    font-weight: bolder;
}
.name{
    grid-area:name;
    font-size: 20px;
}
.github{
    grid-area:github;
    font-size: 20px;
}
.github a{
    color:black;
    text-decoration: underline;
}
span{
    font-weight: bold;
}